<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="250px" src="https://upload.wikimedia.org/wikipedia/en/a/a5/Grand_Theft_Auto_V.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Grand Theft Auto V</h5>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="250px" src="https://upload.wikimedia.org/wikipedia/en/5/51/Minecraft_cover.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Minecraft</h5>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="250px" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/52/Assassin%27s_Creed.jpg/220px-Assassin%27s_Creed.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Assassin's Creed</h5>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="250px" src="https://upload.wikimedia.org/wikipedia/en/8/84/The_Amazing_Spider-Man_2_cover.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The Amazing Spider-Man 2</h5>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="250px" src="https://m.media-amazon.com/images/I/81v8THl-KrL._SL1500_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">SpongeBob SquarePants: Plankton's Robotic Revenge</h5>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="250px" src="https://m.media-amazon.com/images/M/MV5BMzM1YWJhZDUtZTJkOC00NDU4LTlmZWEtOTExNzY0OWRkZmM5XkEyXkFqcGdeQXVyNTk5Nzg0MDE@._V1_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Ben 10: Protector of Earth</h5>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="250px" src="https://play-lh.googleusercontent.com/3H8s3u0oO0OUJi_tG73PNIE9RAr5ATn7Kg6pogZV8byYPQA-etDHNIWFSmrg_A86Hv4" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Rail Rush</h5>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="250px" src="https://gameforge.com/de-DE/littlegames/includes/images/games/11379_5eb3f2d484319.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Bubble Struggle</h5>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="250px" src="https://rukminim1.flixcart.com/image/416/416/kyuge4w0/physical-game/v/p/y/yes-2010-harry-potter-deathly-hallows-part-1-ps3-action-original-imagazruzhttenh5.jpeg?q=70" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">HARRY POTTER Deathly Hallows Part 1 (PS3)</h5>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="250px" src="http://www.oneonlinegames.com/sites/default/files/images13/harry-potter-marauders-map-game.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Harry Potter Marauders Map</h5>
                          <a href="#" class="btn btn-primary">BUY GAME</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>